@model HelpConsciousness.Models.UserVM
@if (Session["UserId"] == null)
{
    Response.Redirect("http://localhost:59440/User/Login");
}
else
{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Look how awesome you are!</h2>

<div style="background-color: wheat; border-radius: 4px; padding: 10px;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecLev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecLev)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
